* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.flex {
    display: flex;
}

.sidebar{
    background-color: brown;
    width: 20%;
    height: 650px;
}

.row {
    height: 50px;
    background-color: tan;
}

.albums-content {
    background-color: maroon;
    width: 80%;
    height: 650px;
}

.navbar {
    background-color: red;
    height: 90px;
}

.box-left {
    width: 290px;
    height: 90px;
    background-color: sienna;
}

.box-center {
    margin: 0 300px 0 300px;
    width: 300px;
    height: 90px;
    background-color: sienna;
}

.box-right {
    width: 300px;
    height: 90px;
    background-color: sienna;
}



/* md */
@media screen and (max-width: 1000px) and (min-width: 576px) {
    
}

/* s */
@media screen and (max-width: 575px) {
    
}

/* xs */
@media screen and () {
    
}