* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.flex {
    display: flex;
}

.row {
    background-color: brown;
    width: 20%;
    height: 650px;
}

.sidebar {
    background-color: maroon;
    width: 80%;
    height: 650px;
}

.navbar {
    display: flex;
    background-color: red;
    height: 90px;
}

.box-left {
    margin-right: 100px;
    width: 300px;
    height: 90px;
    background-color: sienna;
}

.box-center {
    margin-right: 100px;
    width: 300px;
    height: 90px;
    background-color: sienna;
}

.box-right {
    margin-right: 100px;
    width: 300px;
    height: 90px;
    background-color: sienna;
}